section.benefits{
    padding-top:120px;
    padding-bottom:81px;
}

.benefits__header{
    margin-bottom:39px;
}

.benefits__item{
    max-width:304px;
}

.benefits__item-icon{
    margin-bottom:27px;
}

.benefits__item-header{
    font-size:20px;
    font-weight:600;
    color:#5d5d5d;
    margin-bottom:15px;
}

@media(max-width: 767px) {
    section.benefits{
        padding-top: 50px;
        padding-bottom:80px;
    }
    
    .benefits__item{
        max-width:100%;
        margin-bottom:40px;
    }

    .benefits__item-icon{
        margin-bottom:15px;
    }
}