<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area'
    label='Main section',
    class='body-container body-container--home'
  %}

   
    {# Hero Section #}
    {% dnd_section
      background_color='#FDF6F0',
    %}
      {% dnd_module
        path='../modules/hero',
        header_top="Rescue your customers from Anxiety",
        header_bottom="Connect Customers and Providers in Critical Moments",
        button_text="Talk to Riptide Today"
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# List Section #}
    {% dnd_section
    background_color='#FFFFFF',
    %}
      {% dnd_module
        path='../modules/list',
        title="With Riptide, brands loop in their service providers to communicate with and help customers.",
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Chat Section #}
    {% dnd_section
    background_color='#FFFFFF',
    %}
      {% dnd_module
        path='../modules/chat',
        header="Connect Customers and Providers with Conversations"
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Stepper Section #}
    {% dnd_section
    background_color='#FFFFFF',
    %}
      {% dnd_module
        path='../modules/stepper',
        header="Make 3-Way Conversations Easy",
        button_text="Talk to Riptide Today"
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Network Section #}
    {% dnd_section
    background_color='#FFFFFF',
    %}
      {% dnd_module
        path='../modules/network',
        header="Connect Millions of Customers to Your Service Network",
        button_text="Talk to Riptide Today"
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}



    {# Analytics Section #}
    {% dnd_section
    background_linear_gradient={
      'direction': 'to bottom',
      'colors': [
        '#FDF6F0',
        '#FFFFFF'
      ]
    }
    %}
      {% dnd_module
        path='../modules/analytics',
        header="See What’s Happening with Every Customer",
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Benefits Section #}
    {% dnd_section
    background_color='#F6F6F6',
    %}
      {% dnd_module
        path='../modules/benefits',
        header="Riptide Helps You Create Customers for Life",
        button_text="Talk to Riptide Today"
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Contact Section #}
    {% dnd_section
    background_color='#3A3ADD',
    %}
      {% dnd_module
        path='../modules/contact',
        header="Talk to Riptide Today",
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}
