<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  <div class="footer__container content-wrapper">
    <div class="row-fluid">
      <div class="span4">
        <div class="footer__logo footer__logo--main">
          {% module "linked_image" path="@hubspot/linked_image" %}
        </div>
      </div>
      <div class="span4 d-mobile-none">
      </div>
      <div class="span4">
        {% module 'footer_contact' path='../../modules/footer-contact' %}
      </div>
    </div>
  </div>

  {% module 'footer_bottom' path='../../modules/footer-bottom' %}
</footer>
