<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  <div class="footer__container content-wrapper">
    <div class="row-fluid">
      <div class="span4">
        <div class="footer__logo footer__logo--main">
        {% module 'site_logo' path='@hubspot/logo' %}
        </div>
      </div>
      <div class="span4">
        {# <a class="footer__text" href="#">
        Why Riptide
        </a>
        <a class="footer__text" href="#">
        How it Works
        </a>
        <a class="footer__text" href="#">
        About Us
        </a> #}
      </div>
      <div class="span4">
        <div class="footer__text" href="#">
        Contact Sales:
        </div>
        <a class="footer__link" href="mailto:hello@riptidehq.com">
        hello@riptidehq.com
        </a>
        <a class="footer__link" href="#">
        +1 888-RIP-TIDE <span>(888-435-6324)</span>
        </a>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
      <div class="content-wrapper">
        <div class="row-fluid">
          <div class="span4">
            <div class="footer__bottom-text">
            © 2019 - 2021 Riptide. All Rights Reserved
            </div>
          </div>
          <div class="span4">
            <a class="footer__bottom-text" href="#">
            Terms
            </a>
            <div class="footer__bottom-text">
            |
            </div>
            <a class="footer__bottom-text" href="#">
            Privacy
            </a>
          </div>
          <div class="span4">
            <a class="footer__social" href="#">
              <img src="https://f.hubspotusercontent10.net/hubfs/9346563/Social/twitter.svg" alt="Twitter">
            </a>
            <a class="footer__social" href="#">
              <img src="https://f.hubspotusercontent10.net/hubfs/9346563/Social/linkedin.svg" alt="Linkedin">
            </a>
          </div>
        </div>
      </div>
  </div>
</footer>
