  <div class="footer__socials d-desktop-none">
  {% for item in module.social %}
              
    {% if item.social_image.src %}
       {% set loadingAttr = item.social_image.loading != 'disabled' ? 'loading="{{ item.social_image.loading }}"' : '' %}
       <a class="footer__social" href="{{ item.social_url.href }}">
          <img src="{{ item.social_image.src }}" alt="{{ item.social_image.alt }}" {{ loadingAttr }}>
       </a>
    {% endif %}
  {% endfor %}
  </div>

  <div class="footer__bottom">
    
      <div class="content-wrapper">
        <div class="row-fluid">
          <div class="span4">
            <div class="footer__bottom-text">
              {% inline_text field="copyright_text" value="{{ module.copyright_text }}" %}
            </div>
          </div>
          <div class="span4">
            

            <a class="footer__bottom-text" href="{{ module.terms.terms_url.href }}">
            {% inline_text field="terms.terms_text" value="{{ module.terms.terms_text }}" %}
            </a>
            <div class="footer__bottom-text">
            |
            </div>
            <a class="footer__bottom-text" href="{{ module.privacy.privacy_url.href }}">
            {% inline_text field="privacy.privacy_text" value="{{ module.privacy.privacy_text }}" %}
            </a>
          </div>
          <div class="span4 d-mobile-none">
            {% for item in module.social %}
              
              {% if item.social_image.src %}
                 {% set loadingAttr = item.social_image.loading != 'disabled' ? 'loading="{{ item.social_image.loading }}"' : '' %}
                 <a class="footer__social" href="{{ item.social_url.href }}">
                    <img src="{{ item.social_image.src }}" alt="{{ item.social_image.alt }}" {{ loadingAttr }}>
                 </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
  </div>