.footer{
    padding-top:200px;
}

.footer__text,.footer__link span{
    color: #5d5d5d!important;
}

.footer__text,.footer__link{
    display:block;
    font-size:17px;
    margin-bottom:7px;
    font-weight: 500;
}

.footer__bottom{
    padding:26px 0;
    background-color:#F6F6F6;
    margin-top:87px;
}

.footer__bottom-text{
    display: inline-block;
    color:#828282;
    font-size:15px;
    font-weight:500;
}

.footer__social{
    margin-right:40px;
}

.footer__social img{
    height:23px;
}

.footer .d-desktop-none{
    display:none;
}

@media(max-width: 767px) {
    .footer__logo img{
        width:108px !important;
        margin-left:-8px;
    }

    .footer .span4{
        margin-top:40px;
    }

    .footer .d-desktop-none{
        display:block;
    }

    .footer .d-mobile-none{
        display: none;
    }

    .footer{
        padding-top:40px;
    }

    .footer__bottom{
        margin-top: 52px;
        text-align: center;
        padding:18px 0;
    }

    .footer__social{
        margin: 0 15px;
    }

    .footer__bottom .span4{
        margin-top:0;
    }

    .footer__bottom .span4:last-of-type{
        margin:10px 0;
    }

    .footer__socials{
        margin-top:40px;
    }
}