/* Navigation skipper */

.header__skip {
  height: 1px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
}

.header__skip:hover,
.header__skip:focus,
.header__skip:active {
  height: auto;
  left: 0;
  overflow: visible;
  top: 0;
  width: auto;
}

/* Header */

.header {
  background-color: transparent;
  /* position: fixed; */
  width: 100%;
  padding: 34px 0;
  background-color: #FDF6F0;
  z-index:100;
  transition: transform 0.4s;
}

.header.hide-top{
  transform: translateY(-100%);
}

.header__logo {
  align-items: center;
  display: flex;
  height: auto;
  max-width: 200px;
  overflow: hidden;
  /* position: absolute; */
  /* left: 68px; */
  /* margin-top: 11px; */
  margin-top:5px;
}

.header__container{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.header__column {
  /* text-align: right; */
}

.header__contact {
  margin-right: 42px;
  font-size: 18px;
}

.header__signin div{
  display: inline;
}


@media screen and (max-width: 1180px) {
  .header__contact{
    margin-right:18px;
  }
  
  .header__signin {
    font-size:18px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }

  .header__logo img{
    max-width:80px !important;
  }

  .header__contact{
    margin-right:12px;
  }
  
  .header__signin {
    font-size:15px;
  }
}