section.chat{
    margin-top:115px;
    margin-bottom:110px;
    max-width: 100%;
    overflow: hidden;
}

.chat__header{
    margin-top:50px;
    max-width: 450px;
}

.chat__text{
    max-width: 400px;
}

.chat__dots{
    position: absolute;
    right: 95%;
}

.chat__box{
    position:relative;
    max-height: 604px;
    max-width:505px;
    margin:0 auto;
    overflow: hidden;
}

.chat__box-gif{
    max-width: 100%;
}

.chat__box img{
    display: block;
    margin-bottom:32px;
}

.chat__box img:nth-of-type(odd){
    margin-left: auto;
}

.chat__box img:nth-of-type(even){
    margin-right: auto;
}

.chat__message-box{
    position: absolute;
    bottom:5px;
    right:5px;
    margin-bottom:0!important;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.1));
}

@media(max-width: 767px) {
    section.chat{
        margin-top:50px;
        margin-bottom:50px;
    }
    
    .chat__header{
        margin-top:0;
    }

    .chat__dots{
        display: none;
    }

    .chat__box{
        margin-top:60px;
    }

    .chat__box img{
        width: 100%;
        max-width:350px;
        margin-bottom:16px;
    }

}

@media(max-width: 375px) {
    .chat__message-box{
        bottom:130px;
    }
}