section.hero{
    padding-top:80px;
    padding-bottom:120px;
}

.hero__header-top{
    color:#FF8363;
    max-width: 450px;
}

.hero__header-top div{
    display: inline;
}

.hero__header-top span{
    position: relative;
    opacity:0;
}

.hero__header-top span::after{
    content:'';
    position: absolute;
    width:100%;
    height:1px;
    background-color:#FF8363;
    bottom:-8px;
    left:0;
}

.hero__header-bottom{
    max-width: 350px;
}

.hero__image{
  max-width:100%;
}

@media(max-width: 767px) {
    section.hero{
        position: relative;
        padding-top:60px;
        padding-bottom:80px;
        padding-bottom: 300px;
    }

    section.hero .span6{
        text-align:center;
    }

    .hero__image{
        position: absolute;
        bottom: -50px;
        right: 0;
        margin-right: -50px;
        max-width: 300px;
    }
}

@media(max-width: 375px) {
    .hero__header-top{
        min-height:80px;
        margin-bottom:30px;
    }

}