<section class="hero">
  <div class="row-fluid">
    <div class="span5">
      <h1 class="hero__header-top">
        {% inline_text field="header_top" value="{{ module.header_top }}" %}
      </h1>
      <h1 class="hero__header-bottom">
        {% inline_text field="header_bottom" value="{{ module.header_bottom }}" %}
      </h1>
      {% set href = module.link_field.url.href %}
      {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
      {% set rel = [] %}
      {% if module.link_field.no_follow %}
        {% do rel.append("nofollow") %}
      {% endif %}
      {% if module.link_field.open_in_new_tab %}
        {% do rel.append("noopener") %}
      {% endif %}
      <a class="button" href="{{ href }}"
        {% if module.link_field.open_in_new_tab %}target="_blank"{% endif %}
        {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
        >
        {% inline_text field="button_text" value="{{ module.button_text }}" %}
      </a>
    </div>
    <div class="span1"></div>
    <div class="span6">
        {% if module.image_field.src %}
          {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
          {% if module.image_field.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif module.image_field.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
          <img class="hero__image" src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
    </div>
  </div>
</section>