<section class="analytics">
  <div class="row-fluid">
    <div class="span4">
      <h2 class="analytics__header">{% inline_text field="header" value="{{ module.header }}" %}</h2>
      <div class="analytics__text">{% inline_rich_text field="text" value="{{ module.text }}" %}</div>
    </div>
    <div class="span2"></div>
    <div class="span6">
      <div class="analytics__small-image">
        {% if module.small_image.background.src %}
          {% set loadingAttr = module.small_image.background.loading != 'disabled' ? 'loading="{{ module.small_image.background.loading }}"' : '' %}
        <img class="analytics__small-image-background" src="{{ module.small_image.background.src }}" alt="{{ module.small_image.background.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
        {% if module.small_image.image_field.src %}
          {% set loadingAttr = module.small_image.image_field.loading != 'disabled' ? 'loading="{{ module.small_image.image_field.loading }}"' : '' %}
        <img class="analytics__small-image-picture" src="{{ module.small_image.image_field.src }}" alt="{{ module.small_image.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
      
    </div>
  </div>
  
  <div class="row-fluid">
      <div class="analytics__big-image">
        {% if module.big_image.background.src %}
          {% set loadingAttr = module.big_image.background.loading != 'disabled' ? 'loading="{{ module.big_image.background.loading }}"' : '' %}
        <img class="analytics__big-image-background" src="{{ module.big_image.background.src }}" alt="{{ module.big_image.background.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
        {% if module.big_image.top.src %}
          {% set loadingAttr = module.big_image.top.loading != 'disabled' ? 'loading="{{ module.big_image.top.loading }}"' : '' %}
        <img class="analytics__big-image-top" src="{{ module.big_image.top.src }}" alt="{{ module.big_image.top.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
        {% if module.big_image.image_field.src %}
          {% set loadingAttr = module.big_image.image_field.loading != 'disabled' ? 'loading="{{ module.big_image.image_field.loading }}"' : '' %}
        <img class="analytics__big-image-picture" src="{{ module.big_image.image_field.src }}" alt="{{ module.big_image.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
  </div>
</section>