section.list{
    padding-top:90px;
    padding-bottom:30px;
    border-bottom:1px solid #E8E8E8;
}

.list__title{
    font-size:20px;
    line-height:28px;
    font-weight:500;
    color:#FF8363;
    margin-bottom:42px;
}

.list__item-circle{
    width:90px;
    height:90px;
    border-radius:50%;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: background-color 0.2s ease-out;
}

.list__item-circle img{
    transition: img 0.2s ease-out;
}

.list__item-title{
    font-size: 16px;
    font-weight:600;
    text-align:center;
    margin-top:9px;
    color:#3A3ADD;
}

.list__item-description{
    font-size: 14px;
    text-align:center;
    margin-top:24px;
    color:#3A3ADD;
    /* opacity:0; */
    transition: opacity 0.2s ease-out;
}

.list__item:hover .list__item-circle{
    background-color:#3A3ADD !important;
}

.list__item:hover .list__item-circle{
    background-color:#3A3ADD !important;
}

.list__item:hover .list__item-circle img{
    filter:brightness(10);
}

.list__mobile{
    display: none;
}

/* .list__item:hover .list__item-description{
    opacity:1;
} */

@media(max-width: 767px) {
    section.list{
        padding-bottom:20px;
    }

    .list__desktop{
        display: none;
    }

    .list__mobile{
        display: block;
        width: 100%;
    }

    .list__mobile .swiper{
        width: 100%;
        height: 100%;
    }
    
    .list__item-circle-container{
        min-width: 100px;
        margin-right: 20px;
    }

    .list__item-description{
        margin-top: 10px;
        text-align: left;
        color:#2E2E2E;
    }

    .list__item{
        margin-bottom:30px;
        display: flex;
    }

    .list__mobile .swiper-pagination{
        position: relative;
        margin: 10px 0;
    }

    .list__mobile .swiper-pagination .swiper-pagination-bullet-active{
        background-color: #4438E0;
    }
}