<section class="list">
  <div class="row-fluid">
    <div class="span6">
      <div class="list__title">
        {% inline_text field="title" value="{{ module.title }}" %}
      </div>
    </div>
  </div>
  <div class="row-fluid">
 
    {% for item in module.list %}
    <div class="span2">
      <div class="list__item">
          <div class="list__item-circle" style="background-color:{{ item.color_field.color }}">
            {% if item.list_image.src %}
               {% set loadingAttr = item.list_image.loading != 'disabled' ? 'loading="{{ item.list_image.loading }}"' : '' %}
               <img src="{{ item.list_image.src }}" alt="{{ item.list_image.alt }}" {{ loadingAttr }}>
	          {% endif %}
          </div>
          <div class="list__item-title">
            {% inline_text field="list_text" value="{{ item.list_text }}" %}
          </div>
          <div class="list__item-description">
            {% inline_text field="list_description" value="{{ item.list_description }}" %}
          </div>
      </div>
    </div>
    {% endfor %}
    
  </div>
</section>